
Pruebas/prueba_algoritmo/uart_test_2.m
Pruebas/prueba_FIFO/db/.cmp.kpt
Pruebas/prueba_FIFO/db/prev_cmp_prueba_fifo.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.(0).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(0).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(1).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(1).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(2).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(2).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(3).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(3).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(4).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(4).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(5).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(5).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(6).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(6).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(7).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(7).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.(8).cnf.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.(8).cnf.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.asm.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.asm.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.asm_labs.ddb
Pruebas/prueba_FIFO/db/prueba_fifo.cbx.xml
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.bpm
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.idb
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.logdb
Pruebas/prueba_FIFO/db/prueba_fifo.cmp.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.cmp_merge.kpt
Pruebas/prueba_FIFO/db/prueba_fifo.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
Pruebas/prueba_FIFO/db/prueba_fifo.cycloneive_io_sim_cache.45um_ii_1200mv_0c_slow.hsd
Pruebas/prueba_FIFO/db/prueba_fifo.cycloneive_io_sim_cache.45um_ii_1200mv_85c_slow.hsd
Pruebas/prueba_FIFO/db/prueba_fifo.db_info
Pruebas/prueba_FIFO/db/prueba_fifo.eda.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.fit.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.hier_info
Pruebas/prueba_FIFO/db/prueba_fifo.hif
Pruebas/prueba_FIFO/db/prueba_fifo.lpc.html
Pruebas/prueba_FIFO/db/prueba_fifo.lpc.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.lpc.txt
Pruebas/prueba_FIFO/db/prueba_fifo.map.ammdb
Pruebas/prueba_FIFO/db/prueba_fifo.map.bpm
Pruebas/prueba_FIFO/db/prueba_fifo.map.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.map.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.map.kpt
Pruebas/prueba_FIFO/db/prueba_fifo.map.logdb
Pruebas/prueba_FIFO/db/prueba_fifo.map.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.map.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.map_bb.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.map_bb.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.map_bb.logdb
Pruebas/prueba_FIFO/db/prueba_fifo.npp.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.pre_map.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.root_partition.map.reg_db.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.routing.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.rtlv.hdb
Pruebas/prueba_FIFO/db/prueba_fifo.rtlv_sg.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.rtlv_sg_swap.cdb
Pruebas/prueba_FIFO/db/prueba_fifo.sgate.nvd
Pruebas/prueba_FIFO/db/prueba_fifo.sgate_sm.nvd
Pruebas/prueba_FIFO/db/prueba_fifo.sld_design_entry.sci
Pruebas/prueba_FIFO/db/prueba_fifo.sld_design_entry_dsc.sci
Pruebas/prueba_FIFO/db/prueba_fifo.smart_action.txt
Pruebas/prueba_FIFO/db/prueba_fifo.sta.qmsg
Pruebas/prueba_FIFO/db/prueba_fifo.sta.rdb
Pruebas/prueba_FIFO/db/prueba_fifo.sta_cmp.7_slow_1200mv_85c.tdb
Pruebas/prueba_FIFO/db/prueba_fifo.tis_db_list.ddb
Pruebas/prueba_FIFO/db/prueba_fifo.tiscmp.fast_1200mv_0c.ddb
Pruebas/prueba_FIFO/db/prueba_fifo.tiscmp.slow_1200mv_0c.ddb
Pruebas/prueba_FIFO/db/prueba_fifo.tiscmp.slow_1200mv_85c.ddb
Pruebas/prueba_FIFO/db/prueba_fifo.vpr.ammdb
Pruebas/prueba_FIFO/db/prueba_fifo_partition_pins.json
Pruebas/prueba_FIFO/fifo_test.bsf
Pruebas/prueba_FIFO/fifo_test.v
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.db_info
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.ammdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.cdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.dfp
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.hdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.logdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.cmp.rcfdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.cdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.dpi
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.hbdb.cdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.hbdb.hb_info
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.hbdb.hdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.hbdb.sig
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.hdb
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.root_partition.map.kpt
Pruebas/prueba_FIFO/incremental_db/compiled_partitions/prueba_fifo.rrp.hdb
Pruebas/prueba_FIFO/incremental_db/README
Pruebas/prueba_FIFO/output_files/prueba_fifo.asm.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.done
Pruebas/prueba_FIFO/output_files/prueba_fifo.eda.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.fit.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.fit.smsg
Pruebas/prueba_FIFO/output_files/prueba_fifo.fit.summary
Pruebas/prueba_FIFO/output_files/prueba_fifo.flow.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.jdi
Pruebas/prueba_FIFO/output_files/prueba_fifo.map.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.map.smsg
Pruebas/prueba_FIFO/output_files/prueba_fifo.map.summary
Pruebas/prueba_FIFO/output_files/prueba_fifo.pin
Pruebas/prueba_FIFO/output_files/prueba_fifo.sld
Pruebas/prueba_FIFO/output_files/prueba_fifo.sof
Pruebas/prueba_FIFO/output_files/prueba_fifo.sta.rpt
Pruebas/prueba_FIFO/output_files/prueba_fifo.sta.summary
Pruebas/prueba_FIFO/prueba_fifo.bdf
Pruebas/prueba_FIFO/prueba_fifo.qpf
Pruebas/prueba_FIFO/prueba_fifo.qsf
Pruebas/prueba_FIFO/prueba_fifo.qws
Pruebas/prueba_FIFO/prueba_fifo_nativelink_simulation.rpt
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo.do
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo.msim.vcd
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo.sft
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo.vo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928163304.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928163409.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928163449.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928163518.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928165523.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_20240928165556.sim.vwf
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_7_1200mv_0c_slow.vo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_7_1200mv_0c_v_slow.sdo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_7_1200mv_85c_slow.vo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_7_1200mv_85c_v_slow.sdo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_min_1200mv_0c_fast.vo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_min_1200mv_0c_v_fast.sdo
Pruebas/prueba_FIFO/simulation/qsim/prueba_fifo_v.sdo
Pruebas/prueba_FIFO/simulation/qsim/transcript
Pruebas/prueba_FIFO/simulation/qsim/vwf_sim_transcript
Pruebas/prueba_FIFO/simulation/qsim/Waveform.vwf.vt
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_data/exempt2i7b82
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_data/exempt467bbq
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_data/exempthwvjg0
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib1_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib1_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib1_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib2_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib2_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib2_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib3_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib3_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib3_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib4_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib4_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib4_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib5_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib5_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib5_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib9_3.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib9_3.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/@_opt/_lib9_3.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/_info
Pruebas/prueba_FIFO/simulation/qsim/work/_lib.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/_lib1_1.qdb
Pruebas/prueba_FIFO/simulation/qsim/work/_lib1_1.qpg
Pruebas/prueba_FIFO/simulation/qsim/work/_lib1_1.qtl
Pruebas/prueba_FIFO/simulation/qsim/work/_vmake
Pruebas/prueba_FIFO/simulation/questa/modelsim.ini
Pruebas/prueba_FIFO/simulation/questa/msim_transcript
Pruebas/prueba_FIFO/simulation/questa/prueba_fifo.sft
Pruebas/prueba_FIFO/simulation/questa/prueba_fifo.vo
Pruebas/prueba_FIFO/simulation/questa/prueba_fifo_run_msim_rtl_verilog.do
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_data/exempt2285yf
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_data/exempt23g5j2
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_data/exempt24e583
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib1_0.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib1_0.qpg
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib1_0.qtl
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib2_0.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib2_0.qpg
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib2_0.qtl
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib3_0.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib3_0.qpg
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib3_0.qtl
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib4_0.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib4_0.qpg
Pruebas/prueba_FIFO/simulation/questa/rtl_work/@_opt/_lib4_0.qtl
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_info
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_lib.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_lib1_0.qdb
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_lib1_0.qpg
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_lib1_0.qtl
Pruebas/prueba_FIFO/simulation/questa/rtl_work/_vmake
Pruebas/prueba_FIFO/simulation/questa/vsim.wlf
Pruebas/prueba_FIFO/syncore_sfifo.v
Pruebas/prueba_FIFO/tb_fifo_test.v
Pruebas/prueba_FIFO/tb_fifo_test.v.bak
Pruebas/prueba_FIFO/Vhdl1.vhd
Pruebas/prueba_FIFO/Waveform.vwf
Pruebas/prueba_algoritmo/algoritmoMatlab/test_algo_2.m
*.Zip
/PCB/altium/tesis/PCB_tesis_tantalum/Project Logs for PCB_tesis
