# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Oct 3 2024 21:30:04

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 4
set_io clk 94
set_io reset 34
set_io uart_rx_i 125
set_io uart_tx_o 141

